<form action="/admin/newrestaurantsorder/{{restaurant.id}}" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">請設定訂單資訊</h1>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="name">姓名</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="請輸入你的名字" value="{{user.name}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="employeeId">員工編號</label>
    <input class="form-control" type="text" name="employeeId" id="employeeId" placeholder="請輸入員工編號"
      value="{{user.employeeId}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="description">請輸入訂單名稱</label>
    <input class="form-control" type="text" id="ordername" name="ordername" rows="3" placeholder="請輸入訂單名稱" required>
  </div>
  <button type="submit" class="btn btn-primary" onclick="return confirm(`是否要開放訂餐？`)">開放訂餐</button>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>