<div class="mb-4 text-center">
  <h1 class="h3 font-weight-normal mb-3">新增使用者</h1>
</div>
<form class="form-signup" action="/signup" method="POST" style="width: 100%;">
  <div class="form-row mb-3">
    <label class="form-label" for="name">姓名</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="姓名" autofocus>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="name">員工編號</label>
    <input type="text" id="name" name="employeeId" class="form-control" placeholder="員工編號" autofocus>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="email">Email</label>
    <input type="text" id="email" name="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="password">密碼</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="密碼">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="passwordCheck">密碼確認</label>
    <input type="password" id="passwordCheck" name="passwordCheck" class="form-control" placeholder="密碼確認">
  </div>
  <button class="btn btn-primary btn-block" type="submit">送出</button>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>
<div class="mb-4 text-center">
  <p><a href="/signin">登入</a></p>
</div>