<form action="/user/order/{{order.id}}?_method=PUT" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">請開始點餐</h1>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="name">姓名</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="請輸入你的名字" value="{{order.name}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="employeeId">員工編號</label>
    <input class="form-control" type="text" name="employeeId" id="employeeId" placeholder="請輸入員工編號"
      value="{{order.employeeId}}" required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="description">訂餐內容</label>
    <textarea class="form-control" id="description" name="description" rows="3"
      placeholder="請輸入你的餐點">{{order.description}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">送出</button>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</form>